@import "globals";

.block-views-blockadvertisement-block-1 {
  margin-bottom: 0;
  display: none;
  @include _breackpoint_1024 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .block__title {
      text-align: center;
      font-size: 12px;
      color: #767676;
      margin-bottom: 5px;
      @include rubik-400;
    }

    .view-content {

      .views-field-field-image {
        position: relative;
        margin-right: 10px;

        .field-content {
          display: flex;
          justify-content: center;

          img {
            margin-right: 0;
            text-align: center;
          }
        }
      }

      .views-field-field-social-links a {
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
