@import "globals";

.section-3 {
  .container {
    max-width: 1116px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

  }
}

.block-views-blockfashion-block-1 {
  @include _breackpoint_md{
    margin: 0 30px;
  }
  .content__fashion {
    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      background-color: rgba($black, 0.3);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover::after {
      position: absolute;
      content: '';
      background-color: rgba(#218077, 0.4);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.5s;
    }

    .fashion-item-1 {

    }

    .fashion-item-2 {
      width: 100%;
      padding: 10px;
      color: $white;
      position: absolute;
      z-index: 1;
      bottom: 0;
      top: 50%;
      transform: translateY(-14%);
      text-align: center;
      @include _breackpoint_md {
        transform: translateY(-50%);
      }

      & .fashion-tags a {
        color: $white;
        text-decoration: none;
        text-transform: upperse;
        font-size: 13px;
        @include rubik-400;
      }

      & .fashion__title a {
        font-size: 19px;
        line-height: 1.1;
        color: $white;
        @include rubik-500;
        text-decoration: none;
      }

      & .author__inner-fashion {
        font-size: 15px;
        @include rubik-400;

        & a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
