//google fonts
@mixin rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

@mixin roboto-700{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@mixin OpenSans-700{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
//global container
@mixin container-content {
  min-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}


//screen media query
@mixin _breackpoint_md {
  @media (min-width: $breackpoint_md) {
    @content;
  }
}
@mixin _breackpoint_860 {
  @media (min-width: $breackpoint_860) {
    @content;
  }
}

@mixin _breackpoint_1000 {
  @media (min-width: $breackpoint_1000) {
    @content;
  }
}

@mixin _breackpoint_1024 {
  @media (min-width: $breackpoint_1024) {
    @content;
  }
}

@mixin _breackpoint_1200 {
  @media (min-width: $breackpoint_1200) {
    @content;
  }
}
//font size



