
$white: #ffffff;
$green: #00a392;
$grey: #85a1b2;
$black: #000000;
$blue: #478fe0;
$green: #008d7f;
$breackpoint_md: 768px;
$breackpoint_1200: 1200px;
$breackpoint_860:860px;
$breackpoint_1024:1024px;
$breackpoint_1000:1000px;








