.block-custom-weather-block .block__content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.block-custom-weather-block .block__content .weather__icon img {
  width: 25px;
  height: 25px;
}
.block-custom-weather-block .block__content .weather__loc,
.block-custom-weather-block .block__content .weather__temp {
  font-size: 12px;
  position: relative;
}
.block-custom-weather-block .block__content .weather__temp span {
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  right: -6px;
  top: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rainbow 10s infinite linear;
  padding-right: 5px;
}
@keyframes rainbow {
  0% {
    background-color: red;
  }
  8.5% {
    background-color: orange;
  }
  25.5% {
    background-color: yellow;
  }
  59.5% {
    background-color: yellow;
  }
  76.5% {
    background-color: indigo;
  }
  93.5% {
    background-color: violet;
  }
  100% {
    background-color: red;
  }
}
