{#<div> ТЕКС ТЕСТ s </div>#}
{#<div class="global__inner">#}
{#  <div class="img__item-1">#}
{#    {{ field_image }}#}
{#  </div>#}
{#  <div class="img__item-2">#}
{#    {{ created__value }}#}
{#    {{ created }}#}
{#  </div>#}
{#</div>#}
