@import "../_global";

.header{

  .block-region.demo-block{
    width: 100%;
  }
}

div.wrapper > main > section.breadcrumb > div > div{
  display: flex;
}

.inner__box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:5px;
  @include _breackpoint_md{
    flex-direction: row;
  }
  .content__inner{
    max-width: 744px;
    width: 100%;
    flex-shrink: 1;

  }
  .block-one__inner.block-grow{
    flex-grow: 1;
  }
}
.section-6,
.section-4{
  .container{
    max-width: 1116px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding: 0 15px;
  }
}
.footer{
  border:none;
  &__inner{
    width: 100%;
  }
  div > div > div.footer__box-2 > div,
  div > div > div.footer__box-1 > div {
    display: flex;
  }
  .region.region--breadcrumb.grid-full.layout--pass--content-medium.ie11-autorow{
    display: flex;
  }

}
